<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список городов</title>
</head>
<body>
<img th:src="@{/images/park.png}"/>
<h1>Список городов <h1>
    <section>
        <table border="1"  id = "Races">
            <tr>
                <th style="visibility:hidden">Id</th>
                <th>Название</th>
                <th>Население</th>

            </tr>
            <tr th:each="city: ${cities}">
                <td style="visibility:hidden" th:text="${city.id}"></td>
                <td th:text="${city.cityname}"></td>
                <td th:text="${city.pop}"></td>
                <td>
                    <a th:href="@{/city/{id}(id = ${city.id})}">Показать парки</a>
                </td>
            </tr>

        </table>

    </section>

</body>
</html>