<!DOCTYPE html>
<html lang="en">
<form action="#" th:action="@{/update}" th:object="${city}"
      method="post">

    <table border="0" cellpadding="10">
        <tr>
            <td>ID:</td>
            <td><input type="text" th:field="*{id}" readonly="readonly" /></td>
        </tr>
        <tr>
            <td>Название:</td>
            <td><input type="text" th:field="*{cityname}" /></td>
        </tr>
        <tr>
            <td>Население:</td>
            <td><input type="number" th:field="*{pop}" /></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Сохранить</button> </td>
        </tr>
    </table>

</form>
</html>